    /* Default styling for collapsible elements */
    .collapse-dropdown,
    .dropdown-menu {
      display: none;
    }

    /* Show collapsible elements and hide dropdowns on larger screens */
    @media (min-width: 576px) {
      .dropdown-toggle {
        display: none;
      }

      .collapse-dropdown {
        display: block;
      }
    }

    /* Show dropdowns and hide collapsible elements on small screens */
    @media (max-width: 575.98px) {
      .dropdown-toggle {
        display: block;
      }

      .collapse-dropdown {
        display: none;
      }
    }

    /* Default styling */
    #Ediciones {
      width: 20%;
      position: absolute;
    }

    /* Responsive styling for small screens */
    @media (max-width: 576px) {
      #Ediciones {
        position: relative;
        width: 100%;
      }
    }